.h_box {
    background-color: #2d3f50;
    color: white;
    height: auto;
    padding: 10px;
}

.j_box {
    height: 400px;
    padding: 20px;
    background-color: #1bbc9d;
}

.profile {
    background-color: red;
    height: 350px;
}

.portfolio_box {
    background-color: white;
}

.rounded {
    border-radius: 20px;
}